<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="note-container bg-zinc-900 h-screen w-screen text-white pt-2 pl-8">
      <a href="/" class="text-orange-600">Go Back</a>
      <div class="note-header mt-5">
        <h2>Added Note</h2>
      </div>
      <hr />
      <div class="main-content">
        
      </div>
    </div>
  </body>
</html>
